
/**************************\
           HEADER
\**************************/

h1 {
    margin: 0;
    padding: 0;
}

.header {
    background: #99956d;
    width:100%;
    margin:0;
    padding: 6px;
}

.header .image {
    width:36px;
    height:44px;
    padding: 6px;
    padding-left: 12px;
}

.header .image img {
    width:36px;
    height:44px;
}

.header .text {
    font-family: cursive;
    padding: 6px;
    padding-top: 2px;
    padding-left: 0px;
    height:44px;
}

.lang {
    margin:0px;
    padding:0px;
    border:0px;
    background:transparent;
    white-space:nowrap;
    width:30px;
    height:20px;
    overflow:visible;
    float: right;
    margin: 7px;
}

.lang img {
    width:30px;
    height:20px;
}

.header .languages {
    float: right;
    padding-top: 9px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 18px;
    height:44px;
}

.header .image,
.header .text,
.header .header_language{
    display: inline-block;
    vertical-align: top;
}


/**************************\
           BODY
\**************************/

body {
    margin: 0;
    padding: 0;
}

html {
    background: url(background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y: hidden;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#background.jpg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

form {
    height: 360px;
}

table {
    height: 150px;
    background-color: #8ea2c9;
    border-radius: 25px;
    border:3px solid black;
}

#username {
    padding-left: 15px;
    padding-top: 12px;
}

#usernameField {
    padding-left: 15px;
}

#password {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}

#passwordField {
    padding-left: 15px;
    padding-right: 15px;
}

#loginBtn {
    float: right;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 12px;
}