/* Variable declarations */
:root {
    --sidebar-bg-color: #1d263b;
    --menu-bg-color: #fefefe;
    --navbar-bg-color: #1d263b;
    --navbar-bg-color__hover: #3d5a80;
    --sidebar-text-color: #e0fbfc;
    --sidebar-button-bg-color: #ee6c4d;
    --sidebar-accent-color: #3d5a80;
    --menu-item-info-color: #6d6d6d;
    --menu-item-hover-bg-color: #efefef;
    --navbar-height: 55px;
    --navtab-active-bg-color: #ee6c4d;
}

body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: sans-serif;
    overflow: hidden;
}


/**************************\
           NAVBAR
\**************************/

.navbar {
    padding: 0 4%;
    background-color: var(--navbar-bg-color);
    height: var(--navbar-height);
    line-height: var(--navbar-height);
}

.nav-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.nav-tab {
    display: inline-block;
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    color: var(--sidebar-text-color);
}

.nav-tab:hover {
    background-color: var(--navbar-bg-color__hover);
}

.nav-tab.active {
    background-color: var(--navtab-active-bg-color);
}

/**************************\
           SIDEBAR
\**************************/

.sidebar-container {
    flex: 1;
    height: 100%;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-text-color);
    display: flex;
    flex-direction: column;
}

.sidebar_top {
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 9px;
}

.login_wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#loggedUsername {
    padding-right: 9px;
}

#login_button {
    padding:0px;
    border:0px;
    background:transparent;
    color: var(--sidebar-text-color);
    overflow:visible;
    font-size: 18px;
}

#login_button:hover, #login_button:focus {
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}

.lang {
    padding:0px;
    border:0px;
    background:transparent;
    white-space:nowrap;
    width:30px;
    height:20px;
    overflow:visible;
    float: right;
    margin: 7px;
}

.lang img {
    width:30px;
    height:20px;
}

.sidebar-container__padding {
    max-height: 75%;
    flex: 1;
    padding: 5% 5% 0 5%;
}

.sidebar-footer {
    padding: 3% 5%;
    text-align: center;
}

.sidebar-button {
    display: inline-block;
    width: 35%;
    background-color: var(--sidebar-button-bg-color);
    color: var(--sidebar-text-color);
    border: 0;
    margin: 3%;
    padding: 3%;
    font-size: 1.2em;
    text-decoration: none;
}

.order-items-container {
    min-height: 83%;
    max-height: 83%;
    padding: 0 2%;
    border: 2px solid transparent;
    overflow-y: scroll;
}

.order-items-container.over {
    border: 2px dashed var(--sidebar-text-color);
}

.order-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-item p {
    display: inline-block;
}

.order-item__price {
    font-weight: bold;
}

.order-total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--sidebar-accent-color);
    padding: 0 2%;
}

.order-total__price {
    font-weight: bold;
}


/**************************\
           LOGIN MODAL
\**************************/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);

}

.modal_content {
    background-color: #efefef;
    margin: 12% auto;
    padding: 21px;
    width: 36%;
    box-shadow: 0 6px 9px 0 rgba(0,0,0,0.21), 0 6px 21px 0 rgba(0,0,0,0.18);
    animation-name: openModal;
    animation-duration: 1s;
}

.closeBtn {
    color: #666666;
    float: right;
    font-size: 27px;
}

.closeBtn:hover, .closeBtn:focus {
    color: #121212;
    text-decoration: none;
    cursor: pointer;
}

@keyframes openModal {
    from {opacity: 0}
    to {opacity: 1}
}

#modalHeaderH1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 0px 24px 0px;
}

#userPassWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login_text {
    width: 75%;
    font-size: 21px;
    padding-bottom: 6px;
}

#usernameField {
    width: 75%;
    font-size: 15px;
    margin-bottom: 24px;
    padding: 6px 0px 6px 0px;
}

#passwordField {
    width: 75%;
    font-size: 15px;
    margin-bottom: 24px;
    padding: 6px 0px 6px 0px;
}

#sendLogInBtnWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#sendLogInBtn {
    width: 24%;
    font-size: 18px;
    margin: 12px 0px 12px 0px;
    border-radius: 6px;
    background-color: rgba(3, 43, 71, 0.45);
    padding: 9px 0px 9px 0px;
}



/**************************\
           MENU
\**************************/

.menu-container {
    flex: 2;
    height: 100%;
    background-color: var(--menu-bg-color);
}

.menu-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: calc(100% - var(--navbar-height));
}

.menu-column {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow: scroll;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2% 3% 2% 2%;
    flex: 0 50%;
    box-sizing: border-box;
    cursor: pointer;
}

.menu-item:hover {
    background-color: var(--menu-item-hover-bg-color);
}

.dragger-container {
    margin-right: 3%;
    cursor: pointer;
    pointer-events: none;
}

.menu-item-info-container {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.menu-item__name {
    margin: 0;
    pointer-events: none;
}

.menu-item__price {
    font-weight: bold;
    margin: 0;
    pointer-events: none;
}

.menu-item__info {
    width: 100%;
    font-size: 0.75em;
    color: var(--menu-item-info-color);
    margin: 1% 0 0 0;
    pointer-events: none;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
